*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --header-background: #2b2b2bc4;
    --header-font-size: 60px;
    --header-color: white;

    --side-bar-background: #D4D4D4;
    --side-bar-padding: 50px;
    --side-bar-gap: 30px;

    --button-add-size:50px;
    --button-add-width: 60px;
    --button-add-background: #B3B3B3;
    --button-add-color: black;

    --info-background: #FFFFFF;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
}


.container{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 80px 1fr;
    width: 1300px;
    height: 650px;
    grid-template-areas:
        "hd hd"
        "sb ct";
    box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.75);
}

.header{
    grid-area: hd;
    background-color: var(--header-background);
    font-size: var(--header-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--header-color);
}

.header::after{
    content: "🗒";
}

.side-bar{
    grid-area: sb;
    display: flex;
    align-items: flex-start;
    gap:var(--side-bar-gap);
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid black;
    background-color: var(--side-bar-background);
    padding: var(--side-bar-padding);
    padding-right: 0;
}

ul{
    padding: 10px;
    font-size: 22px;
    width: 100%;
}
li{
    padding: 6px;
}


.ul-projects{
    display: flex;
    flex-direction: column;
}

ul>li{
    display: flex;
    justify-content: space-between;
}

.projects{
    overflow: auto;
    height: 175px;
    scrollbar-color: rgba(0, 0, 0, 0.411) var(--side-bar-background);
    scrollbar-width: thin;
    margin: 12px 0px 0px 16px;
}



.count{
    margin-right: 50px;
    width: 25px;
    height: 25px;
    
}

.count,
.add{
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: var(--button-add-background);
    color:var(--button-add-color);

}


.add{
    font-size: var(--button-add-size);
    width: var(--button-add-width);
    box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.75);
    cursor: pointer;
}


.info-container{
    grid-area: ct;
    background-color: var(--info-background);
    padding:40px;
}
/* Dialog */


dialog {
    margin: auto;
    border: none;
    border-radius: 8px;

    box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.75);

}

.modal{
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 50px 1fr;
    width: 800px;
    height: 400px;
    grid-template-areas:
        "hd hd"
        "sbm md"
}

.modal-title{
    grid-area: hd;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    color:var(--header-color)
}

.side-bar-modal{
    grid-area: sbm;
    background-color: var(--side-bar-background);
    border-right: 1px solid black;
}


.main-dialog{
    display: flex;
    flex-direction: column;
    gap:10px;
    grid-area: md;
    padding: 10px;
    background-color: var(--info-background);
}

#title,
#description{
    border: none;
    resize: none;
    width: 100%;
}


#description{
    height: 150px;
}

textarea:focus{
    outline: none;
}

